<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Navigation</title>
    <link rel="SHORTCUT ICON" th:href="@{/static/img/favicon.ico}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>

<body id="page">
<div id="box">
    <a href="https://cn.bing.com/" target="_new"><p>Bing</p></a>
</div>
<div id="vice-box">
    <div id="limit">
        <div id="youku" class="site">
            <a href="http://www.youku.com/" target="_blank"><p>Youku</p></a>
        </div>
        <div id="taobao" class="site">
            <a href="http://www.taobao.com/" target="_blank"><p>Taobao</p></a>
        </div>
        <div id="sina" class="site">
            <a href="http://www.sina.com/" target="_blank"><p>Sina</p></a>
        </div>
        <div id="tiexue" class="site">
            <a href="http://www.tiexue.net/" target="_blank"><p>Tiexue</p></a>
        </div>
        <div id="iqiyi" class="site">
            <a href="http://www.iqiyi.com/" target="_blank"><p>Iqiyi</p></a>
        </div>
        <div id="github" class="site">
            <a href="https://github.com/" target="_blank"><p>GitHub</p></a>
        </div>
        <div id="gamersky" class="site">
            <a href="http://www.gamersky.com/" target="_blank"><p>Gamersky</p></a>
        </div>
        <div id="imooc" class="site">
            <a href="http://www.imooc.com/" target="_blank"><p>Imooc</p></a>
        </div>
        <div id="google" class="site">
            <a href="http://www.google.com/" target="_blank"><p>Google</p></a>
        </div>
        <div id="csdn" class="site">
            <a href="https://passport.csdn.net/account/login?from=http://my.csdn.net/my/mycsdn" target="_blank"><p>
                CSDN</p></a>
        </div>
        <div id="fanyi" class="site">
            <a href="https://translate.google.cn/" target="_blank"><p>Translate</p></a>
        </div>
        <div id="shijitao" class="site">
            <a href="http://www.shijitao.com/zaihuni.html" target="_blank"><p>ShiJiTao</p></a>
        </div>
    </div>
</div>
<div id="author">
    <a href="http://weibo.com/u/3214617260?refer_flag=1001030102_&is_hot=1" target="_blank"><p id="name">MadeBy:XiongMao&nbsp;&nbsp;&nbsp;QQ:38122061</p>
    </a>
</div>
</body>
<script type="text/javascript" th:src="@{/js/css.js}"></script>
</html>
